{% extends 'base.html' %}

{% load bootstrap4 %}

{% block extracss %}
{{ form.media.css }}
{% endblock extracss %}

{% block headtitle %}
部局担当作成
{% endblock headtitle %}

{% block breadcrumb %}
<a href="{% url 'home:index' %}" class="breadcrumb-item">ホーム</a>
<a href="{% url 'home:staff_menu' %}" class="breadcrumb-item">スタッフページ</a>
<a href="{% url 'home:department_list' %}" class="breadcrumb-item">部局担当管理</a>
<span class="breadcrumb-item active">作成</span>
{% endblock breadcrumb %}

{% block contents %}
<div class="row">
    <div class="col">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h3>部局担当作成</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_form form %}
                </div>
                <div class="card-footer pb-0 text-right">
                    {% buttons %}
                    <button type="submit" class="btn btn-success mb-0">
                        送信
                    </button>
                    {% endbuttons %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock contents %}

{% block extrajs %}
{{ form.media.js }}
{% endblock extrajs %}
