{% extends 'base.html' %}

{% load bootstrap4 %}

{% block headtitle %}
企画登録
{% endblock headtitle %}

{% block breadcrumb %}
<span class="breadcrumb-item active">企画登録</span>
{% endblock breadcrumb %}

{% block extracss %}
{{ form.media.css }}
{% endblock extracss %}

{% block contents %}

<div class="row">
    <div class="col">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h3>企画登録</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_field form.kind %}
                    <div class="alert alert-primary" id="alert-food" role="alert"></div>
                    {% bootstrap_field form.food %}
                    {% bootstrap_field form.group %}
                    {% bootstrap_field form.group_kana %}
                    {% bootstrap_field form.note %}
                </div>
                <div class="card-footer pb-0 text-right">
                    {% buttons %}
                    <button type="submit" class="btn btn-success mb-0">登録</button>
                    {% endbuttons %}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 企画種別ごとの飲食物提供情報 -->
{{ food_list|json_script:"food-data" }}
{% endblock contents %}

{% block extrajs %}
{{ form.media.js }}
<script>
    // 企画種別ごとの飲食物提供情報
    var foodData = JSON.parse(document.getElementById('food-data').textContent);

    $(function () {
        // 企画種別を変更するごとに発動
        $('#id_kind').on('change', function () {
            // 選択した 企画種別の ID
            var kind_id = $(this).val();
            // 飲食物提供情報を取得
            if (kind_id) {
                var food = foodData.find(element => element.kind_id == kind_id).food;
            }
            switch (food) {
                case 'true':
                    // 飲食物提供必須
                    $("#id_food").prop({
                        "checked": true,
                        "disabled": true
                    });
                    $("#alert-food").html('この企画種別は飲食物提供<strong>必須</strong>です！')
                    break;
                case 'false':
                    // 飲食物提供禁止
                    $("#id_food").prop({
                        "checked": false,
                        "disabled": true
                    });
                    $("#alert-food").html('この企画種別は飲食物提供<strong>禁止</strong>です！')
                    break;
                case 'select':
                    // 飲食物提供選択可能
                    $("#id_food").prop({
                        "checked": false,
                        "disabled": false
                    });
                    $("#alert-food").html('この企画種別は飲食物を提供するかどうかを選択できます。')
                    break;
                default:
                    // 企画種別未選択
                    $("#id_food").prop({
                        "checked": false,
                        "disabled": true
                    });
                    $("#alert-food").html('企画種別を選択してください。')
            }
        }).change();
    });
</script>
{% endblock %}
