{% extends 'base.html' %}
{% block headtitle %}
企画登録管理
{% endblock headtitle %}

{% block ac_staff %}
active
{% endblock ac_staff %}

{% block breadcrumb %}
<a href="{% url 'home:index' %}" class="breadcrumb-item">ホーム</a>
<a href="{% url 'home:staff_menu' %}" class="breadcrumb-item">スタッフページ</a>
<span class="breadcrumb-item active">企画登録管理</span>
{% endblock breadcrumb %}

{% block contents %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>企画登録管理</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-clickable">
                    <thead>
                        <tr>
                            <th>機能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-href="{% url 'home:staff_member' %}">
                            <td scope="row">
                                企画登録会 窓口業務&nbsp;<span class="badge badge-pill badge-warning">Staff</span><br>
                                <small class="text-muted">企画登録会の窓口業務を開始します。</small>
                            </td>
                        </tr>
                        <tr data-href="{% url 'register:staff_signage' %}">
                            <td scope="row">
                                企画登録会 案内表示&nbsp;<span class="badge badge-pill badge-warning">Staff</span><br>
                                <small class="text-muted">企画登録会において、企画登録 QR コードの表示と整理番号の呼び出しを行います。</small>
                            </td>
                        </tr>
                        <tr data-href="{% url 'home:staff_member' %}">
                            <td scope="row">
                                企画登録会 監督業務・企画登録情報管理&nbsp;<span class="badge badge-pill badge-info">Regulated</span><br>
                                <small class="text-muted">企画登録会の状況と、登録された企画の情報を表示・編集します。</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}
