{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block headtitle %}
{{ object }}
{% endblock headtitle %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ object }}</span>
{% endblock breadcrumb %}

{% block extracss %}
{{ form.media.css }}
{% endblock extracss %}

{% block contents %}

<div class="row">
    <div class="col">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h3>{{ object }}</h3>
                </div>
                <div class="card-body">
                    <p>仮企画責任者</p>
                    <p>{{ object.temp_leader }} {{ object.temp_leader.stid }}</p>
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_field form.kind %}
                    <div class="alert alert-primary" id="alert-food" role="alert"></div>
                    {% bootstrap_field form.food %}
                    {% bootstrap_field form.group %}
                    {% bootstrap_field form.group_kana %}
                    {% bootstrap_field form.note %}
                </div>
                <div class="card-footer pb-0">
                    <div class="row">
                        <div class="col">
                            <button type="submit" name="btn_refuse" class="btn btn-danger mb-0">却下</button>
                            <button type="submit" name="btn_suspend" class="btn btn-secondary mb-0">保留</button>
                        </div>
                        <div class="col text-right">
                            {% buttons %}
                            <button type="submit" name="btn_accept" class="btn btn-success mb-0">受理</button>
                            {% endbuttons %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 企画種別ごとの飲食物提供情報 -->
{{ food_list|json_script:"food-data" }}
<!-- 窓口情報 -->
{{ window_id|json_script:"window-data" }}
{% endblock contents %}

{% block extrajs %}
{{ form.media.js }}
<script src="{% static 'register/staff_window_update.js' %}"></script>
{% endblock %}
