{% extends 'base.html' %}

{% load bootstrap4 %}

{% block headtitle %}
入力完了
{% endblock headtitle %}

{% block breadcrumb %}
<span class="breadcrumb-item active">企画登録</span>
<span class="breadcrumb-item active">入力完了</span>
{% endblock breadcrumb %}

{% block contents %}

<div class="row">
    <div class="col">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h3>入力完了</h3>
                </div>
                <div class="card-body">
                    <p>入力完了しました！呼び出しまでしばらくお待ちください</p>
                    <div class="jumbotron text-center">
                        <h1>整理番号</h1>
                        <hr>
                        <h1 class="display-3">{{ object.call_id }}</h1>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock contents %}

{% block extrajs %}
<script>
    const registrationSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/register/registration/'
    );

    // 更新要求（300ms待機後）
    setTimeout(function () {
        registrationSocket.send(JSON.stringify({
            'update': true
        }))
    }, 300);
</script>
{% endblock %}
